body{
    background-color: #EDF0F7;
    margin-left: 40px;
}


#cap{
    width: 25px;
    margin-top: 3px;
}

#hero{
    color: #FF395A;
} 


.navbar{
    list-style: none;
    display: flex;
    gap: 350px;
    background-color: #F6FAFF;
}

#skillherotag{
    margin-left: 50px;
}

.nav{
    margin-left: 160px;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    
}

a{
    text-decoration: none;
}

#login{
    color: #FF395A;
    border-color: #FF395A;
    border-radius: 30px;
    padding: 4px 30px 4px 30px;
    height: 40px;
}

#joinnow{
    color: white;
    background-color: #FF395A;
    border-radius: 30px;
    height: 40px;
    padding: 4px 30px 4px 30px;
    /* margin-bottom: 15px; */
}

#superhero{
    color: #FF395A;
}

.text{
    white-space: normal;
}

#home{
    color: #FF395A;
}

#explore{
    color: white;
    background-color: #FF395A;
    border-radius: 30px;
    padding: 8px 30px 8px 30px;
    margin-left: -10%;
}

.tick{
    width: 15px;
    color: grey;
}

.subscription{
    display: flex;
    gap: 35px;
    color: grey;
}

#image{
    width: 500px;
}

.homepage{
    display: flex;
    gap: 400px;
    background-color: #F6FAFF;
    
}

.homepagetext{
    font-size: 16px;
    margin-left: 50px;
}

#udemy{
    width: 80px;
}

#slack{
    width: 22px;
    margin-top: 6px;
}

#microsoft{
    width: 25px;
}

#mic{
    margin-bottom: 5px;
}

.logos{
    display: flex;
    gap: 200px;
    margin-left: 160px;
}

.program{
    color: grey;
    margin-top: 10pxx;
}

#google{
    margin-top: 10px;
}

#medium{
    margin-top: 10px;
}

#udemy{
    margin-top: 20px; 
}

.input{
    border-radius: 30px;
    padding: 8px 40px 8px 40px;
    padding-left: 20px;
}

.strength{
    color: grey;
}

.inputone{
    display: flex;
}

@media screen and (min-width:280px) and (max-width:653px){
    body{
        font-size: larger;
    }

    .homepage{
        flex-direction: column;
         gap: 60px;
     }

     .text{
        font-size: 15px;
        white-space: nowrap;
    }

    .logos{
        gap: 20px;
        margin-left: 40px;
    }

    .nav{
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    } 

    #image{
        margin-right: 20px;
    }
}


@media only screen and (max-width: 359px) {
    #explore{
        border-radius: 30px;
        margin-left: -20%;
    }


.input{
    border-radius: 30px;
    padding-left: 20px;
}

.logos{
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

#image{
    width: 350px;
}

}

@media screen and (min-width:360px) and (max-width:768px){
    #explore{
        border-radius: 30px;
        padding: 8px 30px 8px 30px;  
        margin-left: -20%;
    }


.input{
    border-radius: 30px;
    padding: 8px 40px 8px 40px; 
    padding-left: 20px;
}

.logos{
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.homepage{
 flex-direction: column;
    gap: 20px;
}

.nav{
    flex-direction: column; 
    gap: 10px;
    margin-top: 30px;
}

.navbar{
    list-style: none;
    gap: 20px;
}            
}

@media only screen and (min-width: 768px) and (max-width: 1025px){
    #explore{
        border-radius: 30px;
        padding: 8px 30px 8px 30px;  
        margin-left: -20%;
    }


.input{
    border-radius: 30px;
    padding: 8px 40px 8px 40px; 
    padding-left: 20px;
}

.logos{
    display: flex;
    gap: 100px;
    margin-left: 40px;
}

.homepage{
    display: flex;
    gap: 20px;
}

.nav{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.navbar{
    list-style: none;
    gap: 30px;
}            

}

@media only screen and (min-width: 1026px) and (max-width: 1368px){
    #explore{
        border-radius: 30px;
        padding: 8px 30px 8px 30px;  
        margin-left: -20%;
    }


.input{
    border-radius: 30px;
    padding: 8px 40px 8px 40px; 
}

.logos{
    display: flex;
    gap: 100px;
    margin-left: 40px;
}

.homepage{
   display: flex;
    gap: 400px;
}

.nav{
    /* flex-direction: column;  */
    gap: 100px;
    margin-top: 30px;
}

.navbar{
    list-style: none;
    gap: 30px;
}            

}






